@media only screen and (min-width: 64rem) {
    #page-2-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-gap: 2em;
    }
    #simply-chocolate {
        grid-column: 1/2;
        grid-row: 1/4;
        border: 1px solid #F25F70;
        border-radius: 5px;
    }
    #paper-planes {
        grid-column: 2/3;
        grid-row: 1/4;
        border: 1px solid #F25F70;
        border-radius: 5px;
    }
    #i-spy {
        grid-column: 3/4;
        grid-row: 1/4;
        border: 1px solid #F25F70;
        border-radius: 5px;
    }
}