@media only screen and (min-width: 64rem) {
    #page-2-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10em 1fr 1fr 1fr 1fr 1fr; 
        grid-gap: 1em;
        border-radius: 10px;
    }
    #designP {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    #simply-chocolate {
        grid-column: 1/2;
        border: 1px solid #F25F70;
        border-radius: 10px;
        padding: 1em;
    }
    #simply-chocolate h3 {
        grid-row: 2/3;
    }
    #simply-chocolate img {
        grid-row: 3/5;
    }
    #simply-chocolate p {
        grid-row: 5/7;
    }
    #paper-planes {
        grid-column: 2/3;
        grid-row: 2/7;
        border: 1px solid #F25F70;
        border-radius: 10px;
        padding: 1em;
    }
    #paper-planes h3 {
        grid-row: 2/3;
    }
    #paper-planes img {
        grid-row: 3/5;
    }
    #paper-planes p {
        grid-row: 5/7;
        text-align: center;
    }
    #i-spy {
        grid-column: 3/4;
        grid-row: 2/5;
        border: 1px solid #F25F70;
        border-radius: 10px;
        padding: 1em;
    }
}