@media only screen and (min-width: 64rem) {
    #page-2-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 90%;
        grid-gap: 1em;
        border-radius: 10px;
    }
    #designP {
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 0 30px 0 30px;
    }
    #simply-chocolate {
        grid-column: 1/2;
        grid-row: 2/3;
        border: 1px solid #F25F70;
        border-radius: 10px;
        padding: 1em;
    }
    #paper-planes {
        grid-column: 2/3;
        grid-row: 2/3;
        border: 1px solid #F25F70;
        border-radius: 10px;
        padding: 1em;
    }
    #i-spy {
        grid-column: 3/4;
        grid-row: 2/3;
        border: 1px solid #F25F70;
        border-radius: 10px;
        padding: 1em;
    }
}