@media only screen and (min-width:32.5em) {
    h1 {
      font-family: "Oswald", sans-serif;
      font-size: 2.5em;
      background-color: #F25F70;
      color: white;
      border-radius: 15px;
      letter-spacing: 2px;
    }
    h2 {
      font-family: "Oswald", sans-serif;
      color: black;
      padding: 0em 1em 1em 1em;
      font-size: 1.5em;
      letter-spacing: 2px;
      border-bottom: 1px solid black;
  }
    h3 {
      font-family: "Oswald", sans-serif;
      font-size: 1.25em;
      letter-spacing: 1px;
      padding: 0em;
    }
    p, span {
      font-size: 1em;
    }
    header, footer {
      border-radius: 15px;
    }
    #page-2-content {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: .25fr 1fr 1fr 1fr;
      grid-gap: 1em;
      padding: 1em 8% 1em 8%;
  }
    header {
      padding: 1em 1em 0em 1em;
    }
    #designP {
      grid-column: 1/5;
      grid-row: 1/2;
    }
    #simply-chocolate {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-left: auto;
      margin-right: 0;
    }
    #simply-chocolate img {
      max-height: 30em;
    }
    #sc-p {
      grid-column: 2/3;
      grid-row: 2/3;
      padding: 3.5em 0;
    }
    #paper-planes {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    #paper-planes img {
      max-height: 30em;
    }
    #p-p {
      grid-column: 1/2;
      grid-row: 3/4;
      padding: 3.5em 0;
      text-align: right;
    }
    #i-spy {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    #is-p {
      grid-column: 2/3;
      grid-row: 4/5;
      padding: 3.5em 0;
    }
    footer {
      padding: 1em 2em 1em 2em;
      margin: 1em 2em 1em 2em;
    }
  }