@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Oswald:wght@300&display=swap');
body {
  background-color: white;
  font-family: "Oswald", sans-serif;
  max-width: 1160px;
  font-size: 18px;
  margin: 0 auto;
  color: #444;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  background-color: #F25F70;
  color: white;
  padding: 1em;
  letter-spacing: 2px;
  text-align: center;
}
#page-2-content a {
  text-decoration: none;
  color: black;
}
#page-2-content a:visited {
  color: black;
}
#page-2-content a:hover {
  color: #F25F70;
  text-decoration: underline;
}
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
  padding: .5em;
  font-size: 1em;
  letter-spacing: 2px;
  grid-column: 1/3;
  grid-row: 2/3;
}
 h3 {
    font-family: "Oswald", sans-serif;
    font-size: .75em;
    letter-spacing: 1px;
  }
p, ul {
  font-family: "Exo 2", sans-serif;
  font-size: .75em;
}
span {
  font-family: "Exo 2", sans-serif;
  font-size: .75em;
}
footer {
  background-color: #F25F70;
  color: white;
  text-align: center;
  padding: 1em;
  grid-column: 1/3;
  grid-row: 12/13;
}
#home-footer a {
  color: white;
}
#home-footer a:hover {
  color: black;
}
header img {
  max-height: 10em;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: white;
  text-decoration: underline;
}
#simply-chocolate img{
  max-width: 100%;
  border-radius: 10px;
}
#paper-planes img {
  max-width: 100%;
  border-radius: 10px;
}
#i-spy img {
  max-width: 100%;
  border-radius: 10px;
}
#page-2-content {
  padding: 1em;
  margin: 1em;
  border: 1px solid #F25F70;
  border-radius: 5px;
}

footer {
  margin: 1em 0 1em 0;
}