@media only screen and (min-width: 35rem) {
    nav button {
      display: none;
    }
    nav {
    }
    nav ul {
      margin-left: 2%;
    }
    nav ul li {
      float: left;
    }
    nav ul li a {
      border: none;
      border-right: 1px solid rgba(0,0,0,0.3);
      padding: .8rem 1rem;
    }
    nav ul.hide {
      display: block;
    }
    h2 {
      padding: .5em;
    }
    h5, h6, h4 {
      padding: .5em;
      color: #768298;
      font-family: "Poppins", sans-serif;
    }
    #hero-img {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 1em;
    }
    #hero-img img {
      width: 100%;
      grid-column: 1/5;
      grid-row: 1/3;
    }
    #weather-sum {
      background-color: rgba(248,232,206,.85);
      grid-column: 1/2;
      grid-row: 1/3;
      margin: 1em;
    }
    #forecast img {
      display: flex;
      justify-content: space-evenly;
    }
    #article {
      display: flex;
      flex-wrap: wrap;
    }
    footer, footer p {
      text-align: left;
    }
    #footer-map img {
      max-width: 25em;
    }
    #footer-contact img {
      max-width: 2.5em;
    }
    #footer-social img {
      max-width: 3em;
    }
    #footer-bar {
      background-color: #07203F;
      height: 3em;
      max-width: 1160px;
      margin: 0 auto;
      padding: 0em;
    }
  }